.Chapter {
    flex: 1;
    display: flex;
  }
  
#column {
  flex-direction: column;
}

#rosterOption {
  font-family: 'Minion Pro Bold';
  font-size: 20px;
  margin: 12px 0px;
}

#armyOfRenown {
  width: 400px;
}

#armyOfRenown {
  padding-left: 8px;
  font-family: 'Minion Pro Bold';
  font-size: 20px;
  margin: 12px 0px;
}

#rosterOptionText {
  margin: 0px;
}
