#warscroll {
  background: white;
  margin: 0px;
  padding: 0px 8px;
}
.weaponNameContainer {
  background: rgb(46, 46, 49);
  border-radius: 4px;
  padding: 16px 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weaponName {
  color: white;
  margin: 0px;
}
.rangeWeapons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0px 16px;
}
.meleeWeapons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0px 16px;
}
#cell {
  font-weight: bold;
  margin-top: 0px;
}

.keywordsContainer {
  display: flex;
}
.flexContainer {
  display: flex;
}
#weaponAbilities {
  border: 1px dashed black;
  padding: 4px;
  margin-right: 4px;
}
#keyword {
  margin-right: 4px;
}
#row {
  flex-direction: row;
}
#wargearOptions {
  white-space: pre-line;
}

#textItalic {
  white-space: pre-line;
  font-style: italic;
}

#keywords {
  background-color: rgb(236, 236, 236);
  border: 1px solid grey;
  border-radius: 8px;
  padding: 8px 8px;
}

#characteristicsContainer {
  flex-direction: row;
  justify-content: space-between;
  padding-top: 24px;
}

#characteristicSubContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#characteristicValue {
  background: rgb(46, 46, 49);
  color: white;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  padding: 4px 4px;
  margin: 0px;
  font-size: 18px;
  text-align: center;
  align-content: center;
}

#characteristicTitle {
  text-align: center;
  font-weight: bold;
}

#unitDetailsContainer {
  border: 1px solid rgb(46, 46, 49);
  margin-bottom: 16px;
  padding-bottom: 16px;
  align-items: center;
  border-radius: 8px;
}
#unitDetailsSubContainer {
  padding-left: 8px;
  padding-right: 8px;
}
#unitDetailsTitle {
  background: rgb(46, 46, 49);
  color: white;
  border-radius: 4px 4px 0px 0px;
  padding: 16px;
  margin: 0px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
