#warscroll {
  background: white;
  margin: 0px;
  padding: 0px 8px;
}

.weaponName {
  background: rgb(46, 46, 49);
  color: white;
  border-radius: 4px;
  padding: 16px 16px;
}
.rangeWeapons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0px 16px;
}
.meleeWeapons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0px 16px;
}
#cell {
  font-weight: bold;
  margin-top: 0px;
}

.keywordsContainer {
  display: flex;
}
.flexContainer {
  display: flex;
}
#weaponAbilities {
  border: 1px dashed black;
  padding: 4px;
  margin-right: 4px;
}
#keyword {
  margin-right: 4px;
}
#row {
  flex-direction: row;
}
#wargearOptions {
  white-space: pre-line;
}

#textItalic {
  white-space: pre-line;
  font-style: italic;
}

#keywords {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 8px 8px;
}

#characteristicsContainer {
  flex-direction: row;
  justify-content: space-between;
}

#characteristicSubContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#characteristicValue {
  background: rgb(46, 46, 49);
  color: white;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  padding: 4px 4px;
  margin: 0px;
  font-size: 18px;
  text-align: center;
  align-content: center;
}

#characteristicTitle {
  text-align: center;
}