.button {
  background-color: white;
  color: var(--tg-theme-button-text-color);
  padding: 8px 8px;
  margin-bottom: 8px;
  font-size: 16px;
  text-align: start;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  border: 1px solid rgb(211, 211, 211);
}
#title {
  margin: 0;
}