#lightgreyContainer {
    background: lightgrey;
    border-radius: 4px;
    padding: 8px;
    white-space: pre-line;
}
#text {
    white-space: pre-line;
  }
#textBold {
    white-space: pre-line;
    font-weight: bold;
  }
#textItalic {
    white-space: pre-line;
    font-style: italic;
  }