#singlePlayerBattleplan {
    background: #ECECEC;
    color: black;
    border-radius: 4px;
    padding: 16px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    border-width: 0px;
    display: flex;
    justify-content: space-between;
}
#singlePlayerTitle {
    background-color: rgb(236, 236, 236);
    border-radius: 4px;
    font-size: 18px;
    font-family: 'Minion Pro Bold';
    margin-bottom: 8px;
    padding: 6px 12px;
    text-align: center;
}
#singlePlayerBottomButton {
    background: rgb(245, 201, 80);
    border-radius: 24px;
    padding: 12px 16px;
    font-size: 16px;
    margin-bottom: 20px;
    border-width: 0px;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Minion Pro Bold';
    width: 100%;
}
#playersNameContainer {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
#scoreContainer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 16px;
    padding-top: 12px;
}
#scoreTitle {
    font-size: 18px;
    font-family: 'Minion Pro Bold';
    padding-bottom: 8px;
}
#score {
    border: 1px solid black;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    font-size: 24px;
    font-family: 'Minion Pro Bold';
    align-content: center;
}
#currentRoundContainer {
    display: flex;
    justify-content: space-around;
    padding: 16px 0px;
}
#chooseTacticsButton {
    background: rgb(245, 201, 80);
    border-width: 0px;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    margin-bottom: 12px;
    font-family: 'Minion Pro Bold';
}
#scoreParamContainer {
    display: flex;
    align-items: center;
}
#gameWinner {
    text-align: center;
    font-size: 32px;
    font-family: 'Minion Pro Bold';
    padding: 16px 0px;
}
#armyInfoContainer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 16px;
    padding-top: 12px;
}
#armyInfoButton {
    background: rgb(245, 201, 80);
    border-width: 0px;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    font-family: 'Minion Pro Bold';
    width: 47%;
}
#singlePlayerInfoContainer {
    display: flex;
    gap: 8px;
}