#calculatorWeaponContainer {
    background-color: rgb(236, 236, 236);
    margin-bottom: 12px;
    padding: 8px;
    border-radius: 4px;
}

#calculatorWeaponAbilitiesContainer {
    display: flex;
    align-items: center;
    padding-top: 12px;
}

#calculatorCharacteristicsContainer {
    display: flex;
}

#calculatorWeaponAbilities {
    background: rgb(245, 201, 80);
    border-width: 0px;
    border-radius: 4px;
    margin-right: 8px;
    padding: 8px;
    flex: 1;
    font-size: 12px;
}

#calculatorWeaponCheckedAbilities {
    background: rgb(46, 46, 49);
    color: white;
    border-width: 0px;
    border-radius: 4px;
    margin-right: 8px;
    padding: 8px;
    flex: 1;
    font-size: 12px;
}

#calculatorInputTitle {
    margin: 0px;
    margin-right: 8px;
    margin-bottom: 4px;
    margin-top: 4px;
    flex: 1
}

#calculatorInputsContainer {
    display: flex;
    padding: 12px 0px;
    justify-content: space-between;
}

#calculatorInputContainer {
    display: flex;
    margin-right: 4px;
    align-items: center;
}

#calculatorNameContainer {
    display: flex;
    padding: 12px 0px;
    align-items: center;
}

#calculatorNameInput {
    width: 100%;
    height: 24px;
    border-width: 0px;
    border-radius: 4px;
}

#calculatorInput {
    width: 100%;
    height: 24px;
    border-width: 0px;
    border-radius: 4px;
}

#weaponDeleteButton {
    background: rgb(201, 200, 199);
    border-radius: 4px;
    border-width: 0px;
    padding: 4px;
    margin-left: 8px;
  }

#weaponCustomDamageInput {
    height: 24px;
    border-width: 0px;
    border-radius: 4px;
    margin-top: 8px;
    width: 100%;
}

#weaponCustomDamageContainer {
    display: flex;
    align-items: center;
}

#weaponCustomDamageTitle {
    margin: 0px;
    margin-right: 8px;
    margin-top: 6px;
}

#error {
    color: red;
    margin: 0px;
}

#calculatorTargetTitle {
    text-align: center;
    font-weight: bold;
}

#calculatorWeaponCritOn {
    margin: 0px;
    margin-right: 8px;
}
