body {
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}
.header {
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background: var(--tg-theme-header-bg-color);
  }